<div class="page-container">
    <h1 class="font-logo">Biblioteca de Exercícios</h1>

    <div *ngIf="isLoading" class="spinner-container">
        <p-progressSpinner></p-progressSpinner>
    </div>

    <div *ngIf="!isLoading" class="exercise-grid">
        <div *ngFor="let exercise of exercises" class="exercise-card">
            <div class="exercise-image-container">
                <img [src]="exercise.imageUrl || 'assets/placeholder.png'" [alt]="exercise.name" class="exercise-image">
            </div>

            <div class="exercise-details">
                <h3 class="exercise-name" [title]="exercise.name">{{ exercise.name }}</h3>
                <div class="tags-container">
                    <p-tag [value]="exercise.muscleGroup"></p-tag>
                    <p-tag [value]="exercise.difficultyLevel"
                        [severity]="getSeverity(exercise.difficultyLevel)"></p-tag>
                </div>
            </div>
        </div>
    </div>
</div>