:host {
  display: block; 
}

.page-container {
  padding: 2rem;
}

.controls-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.exercise-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.exercise-card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  background: var(--surface-dark);
  overflow: hidden;
  text-decoration: none; // Remove o sublinhado do link 'a'
  color: var(--text-light); // Garante a cor do texto
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 0px 0px var(--primary-accent);
  }
}

.exercise-image-container {
  width: 100%;
  height: 180px;
  background-color: var(--background-dark);
}

.exercise-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exercise-details {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex-grow: 1; 
}

.exercise-name {
  font-size: 1.1rem;
  font-family: 'Press Start 2P', cursive;
  color: var(--primary-accent);
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1; 
}

.tags-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.no-results {
  text-align: center;
  margin-top: 5rem;
  opacity: 0.5;
  .icon {
    font-size: 4rem;
  }
}


::ng-deep {
  .controls-container .p-inputtext {
    width: 100%;
    background: var(--surface-dark) !important;
    border: 2px solid var(--border-color) !important;
    color: var(--text-light) !important;
  }

  p-dropdown {
    width: 100%;
  }
  
  .controls-container .p-dropdown {
    width: 100%;
    background: var(--surface-dark) !important;
    border: 2px solid var(--border-color) !important;
    border-radius: 4px;
  }

  .p-tag {
    font-family: 'Pixelify Sans', sans-serif;
  }


}