<div class="profile-header-container" *ngIf="user && stats">
  <div class="user-info-block">
    <p-button
      (onClick)="menu.toggle($event)"
      styleClass="p-button-rounded avatar-button"
    >
      <img src="../../../../../assets/avatar_placeholderr.png" alt="">
    </p-button>

    <div class="user-text-info">
      <span class="user-name">{{ user.name }}</span>
      <span class="user-level">Nível {{ stats.level }}</span>
    </div>
  </div>

  <div class="xp-bar-container">
    <div class="xp-bar">
      <div class="xp-bar-fill" [style.width.%]="xpPercentage"></div>
    </div>
  </div>
  <div class="xp-label">
    {{ stats.xp || 0 }} / {{ stats.xpToNextLevel || 100 }} XP
  </div>

  <p-menu #menu [model]="items" [popup]="true" appendTo="body"> </p-menu>
</div>
