<div class="page-container">
  <div *ngIf="isLoading" class="spinner-container">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <p-card *ngIf="!isLoading && exercise" [header]="exercise.name">
    <div class="detail-grid">
      <div class="detail-image">
        <img [src]="exercise.imageUrl || 'assets/placeholder.png'" [alt]="exercise.name">
      </div>
      <div class="detail-info">
        <p>{{ exercise.description }}</p>
        <div class="tags-container">
          <p-tag icon="pi pi-tag" [value]="exercise.muscleGroup"></p-tag>
          <p-tag icon="pi pi-cog" [value]="exercise.equipment"></p-tag>
          <p-tag icon="pi pi-chart-line" [value]="exercise.difficultyLevel"></p-tag>
        </div>
      </div>
    </div>
  </p-card>

  <p-button label="Voltar para a Biblioteca" icon="pi pi-arrow-left" styleClass="p-button-text mt-4" routerLink="/exercises"></p-button>
</div>