<div *ngIf="workout; else noWorkouts" class="cta-card" [routerLink]="['/session', workout.id]">
  <div class="cta-text">
    <span>Próximo Treino</span>
    <h2>{{ workout.name }}</h2>
    <div class="workout-details">
      <span><i class="pi pi-list"></i> {{ (workout.exercises|| []).length }} exercícios</span>
      <span><i class="pi pi-star-fill"></i> +150 XP</span>
    </div>
  </div>
  <div class="cta-action">
    <span>Começar</span>
    <i class="pi pi-arrow-right"></i>
  </div>
</div>

<ng-template #noWorkouts>
  <div class="cta-card-empty" routerLink="/workouts/new">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M5 2H3v2h2v2h2v2h2v2h2v2h2v2h2v2h2v2h2v2h2v2h2v-2h-2v-2h-2v-2h-2v-2h-2v-2h-2v-2h6v4h2V8h-2V6h-2V4h-2V2H9v2h4v6h-2V8H9V6H7V4H5V2zm12 4v2h-2V6h2zM3 8h2v12h12v2H3V8z" fill="currentColor"/> </svg>
    <h2>Nenhum treino encontrado</h2>
    <p-button>
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M5 2h16v12h-2V4H5v16h8v2H3V2h2zm2 4h10v2H7V6zm10 4H7v2h10v-2zM7 14h7v2H7v-2zm13 5h3v2h-3v3h-2v-3h-3v-2h3v-3h2v3z" fill="currentColor"/> </svg>
      Crie o seu primeiro plano de treino!
    </p-button>
  </div>
</ng-template>