$primary-glow: 0 0 2px var(--primary-accent);

.cta-card, .cta-card-empty {
  background: var(--surface-dark);
  border: 2px solid var(--border-color);
  color: var(--text-light);
  border-radius: 8px;
  padding: 1.5rem;
  cursor: pointer;
  box-shadow: 4px 4px 0px 0px var(--shadow-color);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px 0px var(--shadow-color);
    border-color: var(--primary-accent); 
  }
}

.cta-text {
  h2 {
    font-size: 1.5rem;
    color: var(--primary-accent);
    text-shadow: $primary-glow; 
  }
  p {
    color: var(--text-muted);
  }
}

.workout-details {
  display: flex;
  gap: 1.5rem;
  font-weight: 700;
  color: var(--text-muted);
  margin-top: 1rem;
    
  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.cta-action {
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
  color: var(--secondary-accent); 
}

.cta-card-empty {
  text-align: center;

  h2 {
    font-size: 1.2rem;
  }

  svg {
    color: var(--primary-accent);
    width: 48px;
  }
}