<div class="stats-grid" *ngIf="stats">
  <div class="stat-badge">
    <div class="stat-value"><i class="hn hn-clipboard-solid"></i>{{ stats.completedWorkouts }}</div>
    <div class="stat-label">Treinos</div>
  </div>
  <div class="stat-badge">
    <div class="stat-value">{{ stats.totalVolume| number:'1.0-0' }}</div>
    <div class="stat-label">Kg Levantados</div>
  </div>
  <div class="stat-badge">
    <div class="stat-value"><i class="hn hn-fire"></i>{{ stats.streak }}</div>
    <div class="stat-label">Dias de Foco</div>
  </div>
  <div class="stat-badge">
    <div class="stat-value"><i class="hn hn-trophy"></i>{{ stats.achievements }}</div>
    <div class="stat-label">Conquistas</div>
  </div>
</div>