<div class="login-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Bem-vindo ao MuscleBuilder</mat-card-title>
            <mat-card-subtitle>Faça login para continuar</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit">
                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="email" type="email" placeholder="seu@email.com" required>
                    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                        O e-mail é obrigatório.
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
                        O formato do e-mail é inválido.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                        A senha é obrigatória.
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
                    Entrar
                </button>
                
            </form>
        </mat-card-content>
    </mat-card>
</div>